html,
body {
    height: 100%;
    margin: 0;
}

#boardContainer {
    position: relative;
    display: flex;
    background-color: aqua;
    flex-flow: column;
    height: 100%;
    /*background-image: url("testbg.png");*/
}

#board {
    width: 20cm;
    height: 15cm;
    background-color: antiquewhite;
}

.boardSquare {
    --color: grey;
    position: absolute;
    background-color: var(--color);
    outline-color: black;
    outline-style: solid;
    outline-width: thin;
    min-width: 2cm;
    min-height: 2cm;
}

.playerToken {
    --color: red;
    background-color: var(--color);
    position: absolute;
    border-radius: 50%;
    outline-style: solid;
    outline-color: gray;
    outline-width: thin;
    width: 1cm;
    height: 1cm;
}

#authstatus {
    display: inline;
    float: right;
}