#boardArrows {
    position: absolute;
    pointer-events: none;
    width: 20cm;
    height: 15cm;
    z-index: 100;
}

.selectedSquare {
    outline-color: cyan;
    outline-style: dashed;
    outline-width: thick;
}

@media print {
    #editTools, #linkingTools, .playerToken {
        display: none !important;
    }
}