{% extends 'shared/base.html' %}
{% load static %}
{% block title %}BoardKit Editor{% endblock %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '/frontend/editor/style.css' %}">
{% endblock %}
{% block body %}
    {{ block.super }}
    <noscript>BoardKit requires JavaScript to run, please enable JavaScript in your browser to use BoardKit.</noscript>
    <div id="loadingPrompts">
        <h2>BoardKit is now loading</h2>
        <p id="loadingCurrent">Loading editor...</p>
    </div>
    <p class="supportError" style="display: none;">The BoardKit editor requires at least Chrome 86, Firefox 98, Safari 15.4 or equivalent.</p>
    <!-- This is horrid. -->
    <div id="appContainer" style="display: none;">
        <nav class="navbar navbar-default">
            <a class="navbar-brand" href="/">BoardKit Editor</a>
            <ul class="nav navbar-nav">
                <li>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">File <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a id="newBtn" href="#">New</a></li>
                            <li><a id="loadBtn" href="#">Load...</a></li>
                            <li><a id="saveBtn" href="#">Save</a></li>
                            <li><a id="saveAsBtn" href="#">Save as...</a></li>
                            <!-- <li role="separator" class="divider"></li> -->
                        </ul>
                    </div>
                </li>
                <li><input id="nameBox" class="form-control" type="text" placeholder="Project Name"></li>
                <li><a id="playLink" href="../player">Play</a></li>
            </ul>
        </nav>

        <div id="editTools">
            <button id="editAddSqBtn">Add square</button>
            <button id="editLinkSqBtn">Link squares</button>
            <button id="editRulesBtn">Set rules</button>
        </div>

        <div id="linkingTools" style="display: none;">
            <button id="linkBackBtn">Done</button>
            Drag source square onto destination square. Right click on source square to remove link.
        </div>

        <div id="selectTargetTools" style="display: none;">
            <button id="selectTargetDoneBtn">Done</button>
            Select the target square then press the 'Done' button.
        </div>

        <div id="boardContainer">
            <svg id="boardArrows" viewbox="0 100 775 566" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <marker id="arrow" markerWidth="13" markerHeight="13" refx="2" refy="6" orient="auto">
                        <path d="M2,2 L2,11 L10,6 L2,2" style="fill:black;" />
                    </marker>
                </defs>
            </svg>
            <div id="board">
                <!-- Dynamic content inserted here. Static content will be overwritten! -->
            </div>
        </div>
        <dialog id="addSqDialog">
            <h1>Configure Square</h1>
            <form id="addSqDialogForm" method="dialog">
                <input id="asdfId" type="hidden" name="sqId" required>
                <label for="asdfLabel">Square Label: </label>
                <input id="asdfLabel" type="text" name="sqLabel"><br>
                <label for="asdfColor">Square Color:</label>
                <input id="asdfColor" type="color" name="sqColor" value="#808080" required><br>
                <label for="asdfActionType">Landing Action: </label>
                <select id="asdfActionType" name="sqActionType">
                    <option value="none">Do nothing</option>
                    <option value="goForward">Player goes forward a number of spaces</option>
                    <option value="jumpTo">Player jumps to a specific square</option>
                    <option value="anotherTurn">Player gets another turn</option>
                    <option value="endGame">Game ends</option>
                </select><br>
                <label for="asdfActionParam">Landing Action Parameter: </label>
                <input id="asdfActionParam" type="number" name="sqActionParam" minlength="1">
                <input id="asdfActionSetTargetBtn" type="submit" name="dlBtn" value="Set target" style="display: none;" formnovalidate><br>
                <input type="submit" name="dlBtn" value="OK">&nbsp;
                <input type="submit" name="dlBtn" value="Cancel" formnovalidate>&nbsp;
                <input id="asdfDeleteBtn" type="submit" name="dlBtn" value="Delete" formnovalidate>
            </form>
        </dialog>
        <dialog id="openDialog">
            <h1>Open Project</h1>
            <form id="openDialogForm" method="dialog">
                <input id="opdfFile" name="boardFile" type="file" accept=".boardkit" required>
                <input type="submit" value="OK">
                <input type="submit" value="Cancel" formnovalidate>
            </form>
        </dialog>
        <dialog id="saveAsDialog">
            <h1>Save Project</h1>
            <form id="saveAsDialogForm" method="dialog">
                <input id="sadfId" type="hidden" name="id">
                <label for="sadfName">Name:</label>
                <input id="sadfName" type="text" name="name" minlength="3" maxlength="50" required><br>
                <label for="sadfDesc">Description:</label>
                <textarea id="sadfDesc" name="desc" rows="10" cols="50" maxlength="500" placeholder="Describe your game here..." required></textarea><br>
                <label for="sadfCategories">Categories (hold ctrl/cmd for multiselect):</label>
                <select id="sadfCategories" name="categories" multiple>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select><br>
                <label for="sadfPublish">Publish?</label>
                <input id="sadfPublish" name="publish" type="checkbox" value="1"><br>
                <input type="submit" value="OK">
                <input type="submit" value="Cancel" formnovalidate>
            </form>
        </dialog>
        <dialog id="rulesDialog">
            <h1>Set Board Settings</h1>
            <form id="rulesDialogForm" method="dialog">
                <fieldset>
                    <legend>Board</legend>
                    <label for="rdfBoardWidth">Width:</label>
                    <input id="rdfBoardWidth" name="boardWidth" type="number" min="0.1" max="120" value="20" step="0.1" required>cm<br>
                    <label for="rdfBoardHeight">Height:</label>
                    <input id="rdfBoardHeight" name="boardHeight" type="number" min="0.1" max="120" value="15" step="0.1" required>cm<br>
                </fieldset>
                <fieldset>
                    <legend>Dice</legend>
                    <label for="rdfDiceMin">Min:</label>
                    <input id="rdfDiceMin" name="diceMin" type="number" min="-20" max="6" value="1" required>
                    <label for="rdfDiceMax">Max:</label>
                    <input id="rdfDiceMax" name="diceMax" type="number" min="-20" max="20" value="6" required>
                </fieldset>
                <fieldset>
                    <legend>Players</legend>
                    <label for="rdfPlayerMin">Min:</label>
                    <input id="rdfPlayerMin" name="playersMin" type="number" min="1" max="4" value="1" required>
                    <label for="rdfPlayerMax">Max:</label>
                    <input id="rdfPlayerMax" name="playersMax" type="number" min="1" max="8" value="4" required>
                </fieldset>
                <input type="submit" value="OK">&nbsp;
                <input type="submit" value="Cancel" formnovalidate>
            </form>
        </dialog>
    </div>

    <script src="{% static '/frontend/shared.js' %}"></script>
    <script src="{% static '/frontend/editor/editor.js' %}"></script>
{% endblock %}