{% extends 'shared/base.html' %}
{% block title %}BoardKit{% endblock %}
{% block body %}
    {{ block.super }}
    <h1>Welcome to BoardKit</h1>
    <p>BoardKit is a simple webapp for making and sharing board games online.</p>
    <ul>
        <li><a href="/auth/signup/">Register an account</a></li>
        <li><a href="/editor/">Make a game</a></li>
        <li><a href="/player/?game=6">Play an example game</a></li>
    </ul>
    <h2>Latest Games</h2>
    <ul>
        {% for game in new_games %}
            <li>
                <a href="/player/?game={{ game.id }}">{{ game.name }}</a>
                <p>By {{ game.creator.username }}</p>
                <p>{{ game.description }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}